<article class="projects">
  <header class="projects-header">
    <div class="projects-header-inner">
      <h2><span>Projects</span></h2>
    </div>
  </header>

  <div class="projects-content">
    <section class="project">
      <div class="project-overview">
        <a class="project-thumb" href="#slides-university">
          <img src="_images/p-university-thumb.jpg" alt="" />
        </a>
        <div class="description">
          <h3>University Websites</h3>
          <p class="intro">Marketing websites and applications.</p>
          <p>I’ve designed many online applications and marketing websites for colleges and universities across the country. It’s always an exciting challenge to push a school’s existing brand in new directions while remaining faithful to its core.</p>
          <div class="links">
            <a class="i-image project-link" href="#slides-university">View Images</a>
          </div>
        </div>
      </div>

      <div class="slides" id="slides-university">
        <div class="slides-inner">
          <ul class="slides-list">
            <li class="slide">
              <a class="slide-link" href="_images/p-university-01.jpg">
                <img src="_images/p-university-01.jpg"
                    alt="Application intro page" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-university-02.jpg">
                <img src="_images/p-university-02.jpg"
                    alt="Quiz to find your ideal major" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-university-03.jpg">
                <img src="_images/p-university-03.jpg"
                    alt="Application completion page" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-university-04.jpg">
                <img src="_images/p-university-04.jpg"
                    alt="Marketing page for prospective students" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-university-05.jpg">
                <img src="_images/p-university-05.jpg"
                    alt="Links to school information" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-university-06.jpg">
                <img src="_images/p-university-06.jpg"
                    alt="Thank-you page for sending your contact info" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-university-07.jpg">
                <img src="_images/p-university-07.jpg"
                    alt="Links to more school information" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-university-08.jpg">
                <img src="_images/p-university-08.jpg"
                    alt="School application questions" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="project">
      <div class="project-overview">
        <a class="project-thumb" href="#slides-revquest">
          <img src="_images/p-revquest-thumb.jpg" alt="" />
        </a>
        <div class="description">
          <h3>RevQuest</h3>
          <p class="intro">A game about spies, puzzles, and the American Revolution.</p>
          <p>RevQuest was a series of adventure games I helped create for Colonial Williamsburg. To save the Revolution, players must explore eighteenth-century Williamsburg, Virginia, converse with its inhabitants, and solve puzzles. I co-designed the storylines and gameplay, and made many of the graphics. The game engine I built from scratch using JavaScript and XML. These games were really fun to make!</p>
          <div class="links">
            <a class="i-image project-link" href="#slides-revquest">View Images</a>
          </div>
        </div>
      </div>

      <div class="slides" id="slides-revquest">
        <div class="slides-inner">
          <ul class="slides-list">
            <li class="slide">
              <a class="slide-link" href="_images/p-revquest-01.jpg">
                <img src="_images/p-revquest-01.jpg"
                    alt="Careful, he’s a redcoat" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-revquest-02.jpg">
                <img src="_images/p-revquest-02.jpg"
                    alt="In the coffeehouse" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-revquest-03.jpg">
                <img src="_images/p-revquest-03.jpg"
                    alt="A collection of strange objects" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-revquest-04.jpg">
                <img src="_images/p-revquest-04.jpg"
                    alt="Can you crack the code?" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-revquest-05.jpg">
                <img src="_images/p-revquest-05.jpg"
                    alt="The town magazine" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-revquest-06.jpg">
                <img src="_images/p-revquest-06.jpg"
                    alt="A clever hiding place" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-revquest-07.jpg">
                <img src="_images/p-revquest-07.jpg"
                    alt="Title screen" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="project">
      <div class="project-overview">
        <a class="project-thumb" href="#slides-slavery">
          <img src="_images/p-slavery-thumb.jpg" alt="" />
        </a>
        <div class="description">
          <h3>Slavery and Remembrance</h3>
          <p class="intro">A digital museum of sites, artifacts, and essays related to slavery and the slave trade.</p>
          <p>One of my most challenging projects, I was responsible for both this website’s design and development. Working with a team of historians, I created a visual design evoking American, African, and European cultures. Using ColdFusion and jQuery, I created a REST API to pull and display data from a Microsoft SQL Server database.</p>
          <div class="links">
            <a class="i-image project-link" href="#slides-slavery">View Images</a>
            <a class="i-mouse project-link" href="http://www.slaveryandremembrance.org">Visit Website</a>
          </div>
        </div>
      </div>

      <div class="slides" id="slides-slavery">
        <div class="slides-inner">
          <ul class="slides-list">
            <li class="slide">
              <a class="slide-link" href="_images/p-slavery-01.jpg">
                <img src="_images/p-slavery-01.jpg"
                    alt="Landing page" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-slavery-02.jpg">
                <img src="_images/p-slavery-02.jpg"
                    alt="Sites and museums" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-slavery-03.jpg">
                <img src="_images/p-slavery-03.jpg"
                    alt="Culture and artifacts" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-slavery-04.jpg">
                <img src="_images/p-slavery-04.jpg"
                    alt="One of many biographies on the website" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-slavery-05.jpg">
                <img src="_images/p-slavery-05.jpg"
                    alt="History article" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="project">
      <div class="project-overview">
        <a class="project-thumb" href="#slides-woodward">
          <img src="_images/p-woodward-thumb.jpg" alt="" />
        </a>
        <div class="description">
          <h3>Woodward Heights Live</h3>
          <p class="intro">A showcase of Lexington, Kentucky’s Woodward Heights historic district using interactive maps, elevations, and photos.</p>
          <p>This was my master’s thesis project, completed in 2011. I created maps and other drawings using AutoCAD, took hundreds of photos, and performed extensive research to gather the materials for this website. I coded the project using ActionScript, XML, and Adobe Flash Builder (this was 2011, remember!).</p>
          <div class="links">
            <a class="i-image project-link" href="#slides-woodward">View Images</a>
            <a class="i-mouse project-link" href="http://markfluehr.com/woodward-heights/">Visit Website</a>
          </div>
        </div>
      </div>

      <div class="slides" id="slides-woodward">
        <div class="slides-inner">
          <ul class="slides-list">
            <li class="slide">
              <a class="slide-link" href="_images/p-woodward-01.jpg">
                <img src="_images/p-woodward-01.jpg"
                    alt="Map of neighborhood houses" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-woodward-02.jpg">
                <img src="_images/p-woodward-02.jpg"
                    alt="Elevation of Merino St." />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-woodward-03.jpg">
                <img src="_images/p-woodward-03.jpg"
                    alt="Info about a specific house" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-woodward-04.jpg">
                <img src="_images/p-woodward-04.jpg"
                    alt="Exploring houses by year of construction" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="project">
      <div class="project-overview">
        <a class="project-thumb" href="#slides-drawings">
          <img src="_images/p-drawings-thumb.jpg" alt="" />
        </a>
        <div class="description">
          <h3>Drawings and Graphics</h3>
          <p class="intro">Pencil, paint, Photoshop, Blender, AutoCAD, and other media.</p>
          <p>For work, for school, or just for fun, I’ve created a lot of these over the years. I have an architecture degree and make computer games in my spare time, which explains some of their origins.</p>
          <div class="links">
            <a class="i-image project-link" href="#slides-drawings">View Images</a>
          </div>
        </div>
      </div>

      <div class="slides" id="slides-drawings">
        <div class="slides-inner">
          <ul class="slides-list">
            <li class="slide">
              <a class="slide-link" href="_images/p-drawings-01.jpg">
                <img src="_images/p-drawings-01.jpg"
                    alt="Design for a Federal-style house" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-drawings-02.jpg">
                <img src="_images/p-drawings-02.jpg"
                    alt="Go-kart" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-drawings-03.jpg">
                <img src="_images/p-drawings-03.jpg"
                    alt="Design for a Union Pacific Railroad museum" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-drawings-04.jpg">
                <img src="_images/p-drawings-04.jpg"
                    alt="Self-portrait, 2018" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-drawings-05.jpg">
                <img src="_images/p-drawings-05.jpg"
                    alt="Graphics for an original RPG" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-drawings-06.jpg">
                <img src="_images/p-drawings-06.jpg"
                    alt="Wick Alumni Center, Lincoln, NE" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-drawings-07.jpg">
                <img src="_images/p-drawings-07.jpg"
                    alt="African Methodist Episcopal church, Lexington, KY" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-drawings-08.jpg">
                <img src="_images/p-drawings-08.jpg"
                    alt="Circle composed of geometric shapes" />
              </a>
            </li>
            <li class="slide">
              <a class="slide-link" href="_images/p-drawings-09.jpg">
                <img src="_images/p-drawings-09.jpg"
                    alt="Design for an addition at Spindletop Hall, Lexington, KY" />
              </a>
            </li>
          </ul>
        </div>
    </section>
  </div>
</article>
