<article class="social">
  <canvas id="social-canvas"></canvas>

  <header class="social-header">
    <div class="social-header-inner">
      <h2><span>Find Me Online</span></h2>
    </div>
  </header>

  <div class="social-content">
    <section class="social-link">
      <a href="https://codepen.io/mark-fluehr" rel="me">
        <img src="_images/logo-codepen.svg" alt="" />
        <h3>CodePen</h3>
      </a>
    </section>
    <section class="social-link">
      <a href="https://github.com/mfluehr" rel="me">
        <img src="_images/logo-github.svg" alt="" />
        <h3>GitHub</h3>
      </a>
    </section>
    <section class="social-link">
      <a href="https://developer.mozilla.org/en-US/profiles/mfluehr" rel="me">
        <img src="_images/logo-mdn.svg" alt="" />
        <h3>MDN</h3>
      </a>
    </section>
  </div>
</article>
